
body{
   
    overflow-x: hidden;
   
}

div.top_pos{

    text-align: center;
    position: relative;
    top: -10px;
    height: 0px;

}


div.top_picture{
    text-align: center;
    position: relative;
    width: 100%;
    top: 42px;
    left: -8px;
}
img.top_jpg{
    width: 100%;

}

div.font_top{
    text-align: center;
    position: relative;
    top: -550px;
    font-size: 100px;
    left: -10px;
}

div.about{
    position: relative;
    text-align: center;
    top: 0px;
    font-size: 50px;
}
div.about_pos{
    text-align: center;
    position: relative;
    left: 0px;
    top: -120px;
}

div.about_bu_Fixed{
    position: relative;
    text-align: center;


}



button.about_button{
    position: relative;
    text-align: center;
    top: -500px;
    left: 0px;
    width: 120px;
    height:50px;
    background-color: rgb(29,128,159);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 0ex;
    cursor: pointer;
    cursor: hand;
}

.about_Button_color:hover {
    background-color: rgb(64, 184, 224);
}


div.my_picture{
    text-align: center;
    margin-left: -460px;
    margin-top: 110px;  
}


div.Self-introduction_position{
    position: relative;
    text-align: center;
    height: 0px;
    
}
div.neko{
    text-align: center;
    position: relative;
    top: -350px;
    left: 300px;
    
}


.skill_button{
    text-align: center;
    position: relative;
    top: -250px;
    right: 0px;
    width: 120px;
    height:50px;
    background-color: rgb(52,58,64);
    color: aliceblue;
    font-size: 20px;
    border: 0ex;
    cursor: pointer;
    cursor: hand;
}

.skill_button_color:hover {
    background-color: rgb(59, 59, 59);
}



div.Skill{
    z-index: 60;
    text-align: center;
    position: relative;
    left: -8px;
    top: 500px;
    background-color: #1D809F;
    height: 980px;
    
}
div.Skill_text{
    text-align: center;
    position: relative;
    font-size: 50px;
    top: 100px;
    left: 10px;
    color: #ffffff;
}

div.my_skill{
    text-align: center;
    position: relative;
    top: 220px;  
    left: 5px;
}




div.Works_pos{
    
    position: relative;
    top: -300px;
  
}

.Works_button{
    text-align: center;
    position: relative;
    top: 290px;
    left: 10px;
    width: 120px;
    height:50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 0ex;
    cursor: pointer;
    cursor: hand;
}

.works_button_color:hover {
    background-color: rgb(231, 231, 231);
}


div.Works{
    z-index: 60;
    text-align: center;
    position: relative;
    top: 690px;
    font-size: 50px;
}

div.Works_Scroll_pos{
    text-align: center;
    position: relative;
    top: 630px;

    
}

div.my_application{

    text-align: center;
    position: relative;
    top: 840px;  
}
div.apuris{
    text-align: center;

    position: relative;
    top: 860px;
    left: -40px;
}
div.Twitter_clone1{
    position: relative;
    top: -10px;
    height: 0px;
    right: -305px;
    font-size: 20px;
}
div.Twitter_clone1_setumei{
    position: relative;
    top: 30px;
    height: 0px;
    right: -255px;
    font-size: 20px;
}

div.Twitter_clone2{
    position: relative;
    top: 14px;
    right: 15px;
    font-size: 30px;
    height: 1px;
}
div.Twitter_clone2_setumei{
    position: relative;
    top: 32px;
    height: 0px;
    right: -45px;
    font-size: 17px;
}

div.Twitter_clone3{
    position: relative;
    top: 15px;
    right: 352px;
    font-size: 30px;
    height: 1px;
}
div.Twitter_clone3_setumei{
    position: relative;
    top: 30px;
    height: 0px;
    right: 356px;
    font-size: 20px;
}
.Contact_button{
    
    position: relative;
    top: 290px;
    left: 0px;
    width: 120px;
    height:50px;
    background-color: rgb(29,128,159);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 0ex;
    cursor: pointer;
    cursor: hand;
}

.contact_button_color:hover {
    background-color: rgb(64, 184, 224);
}






div.Contact_bu{
    text-align: center;
    position: relative;
    top: 820px;
    height: 10px;
}
div.Contact{
    position: relative;
    text-align: center;
    background-color: rgb(53, 51, 51);
    top: 1300px;
    left: -8px;
    height: 1000px;
    
}

div.Contact_name{
    position: relative;
    top: 170px;
    left: 10px;
    font-size: 50px;
    color: aliceblue;
}

div.my_Phone{
    position: relative;
    top: 300px;
    left: -360px;
    height: 0px;
}
div.my_Mail{
    position: relative;
    top: 300px;
    left: 380px;
    height: 0px;
}
div.my_numbar{
    position: relative;
    top: 615px;
    left: 380px;
    height: 0px;
    font-size: 32px;
    color: aliceblue;
}
div.my_git{
    position: relative;
    top: 715px;
    left: 13px;
}
img.git_pic{
    width: 120px;
    height: 120px;
}

div.copy_light{
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 739px;
    height: 30px;
}
div.copy_ligth_text{
    position: relative;
    top: 5px;
    left: 20px;

}

button.TOP_return{
    position: relative;
    top: 710px;
    left: 880px;
    width: 70px;
    height:60px;
    font-size: 20px;
    cursor: pointer;
    cursor: hand;
}
img.top_pic{
    width: 50px;
    height:40px;
}
header.header_main{
    text-align: center;
    position:fixed;
    z-index: 140;
    top: 0px;
    height: 0px;

}
div.header_menu{
    text-align: center;
    position: relative;
    background-color: #ffffff;
    width: 1200%;
    height: 50px;
    left: -30px;
    opacity: 0.5;
}
button.About_direct{
    position: relative;
    cursor: pointer;
    cursor: hand;
    border: none;
    background: transparent;
    top: -35px;
    left: 650px;
    font-size: 30px;
}
button.SKILL_direct{
    position: relative;
    cursor: pointer;
    cursor: hand;
    border: none;
    background: transparent;
    top: -35px;
    left: 730px;
    font-size: 30px;
}
button.Works_direct{
    position: relative;
    cursor: pointer;
    cursor: hand;
    border: none;
    background: transparent;
    top: -35px;
    left: 800px;
    font-size: 30px;
}
button.Contact_direct{
    position: relative;
    cursor: pointer;
    cursor: hand;
    border: none;
    background: transparent;
    top: -35px;
    left: 860px;
    font-size: 30px;
}

button.TOP_direct{
    
    text-align: center;
    position: relative;
    cursor: pointer;
    cursor: hand;
    border: none;
    background: transparent;
    top: -35px;
    left: 570px;
    font-size: 30px;
}

.Button_color:hover {
    color: rgb(90, 88, 88)
}
ul {
    
    list-style: none;
    font-size: 30px;
    
  }

div.top_border
{   

    text-align: center;
    position: relative;
    background-color: #DFDFDF;
    left: 0px;
    top: 40px;
    z-index: 150;
    height: 0px;
}

li.itigyou{
    position: relative;
    top: 0px;
    left: -3px;
}

li.nigyou{
    position: relative;
    top: 0px;
    left: 8px;
}
li.sangyou{
    position: relative;
    top: 0px;
    left: 48px;
}
li.yongyou{
    position: relative;
    top: 0px;
    left: 8px;
}
li.Gogyou{
    position: relative;
    top: 0px;
    left: 42px;
}
li.rokugyou{
    position: relative;
    top: 0px;
    left: 62px;
}
li.nanagyou{
    position: relative;
    top: 0px;
    left: 83px;
}
li.hatigyou{
    position: relative;
    top: 0px;
    left: 27px;
}
li.kyugyou{
    position: relative;
    top: 0px;
    left: 24px;
}

img.Git_Twitter{
    position: relative;
    left: 60px;
    width: 50px;
    height: 50px;
    top: -35px;
}
img.Git_kakeibo{
    position: relative;
    left: 80px;
    width: 50px;
    height: 50px;
    top: -36px;
}

a.Twitter_cione_link{
    position: relative;
    top: -50px;
    left: 30px;
    text-decoration: none;
    color: black;
}
a.kakeibo_link{
    position: relative;
    top: -50px;
    left: 30px;
    text-decoration: none;
    color: black;
    
}
div.use_language3{
    position: relative;
    left: 54px;
    top: -10px;
    font-size: 19px;
}
div.use_language2{
    position: relative;
    left: -86px;
    top:   -4px;
    font-size: 20px;
}





